#a11y {
    width: 100%;
    height: 3rem;
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 3.5rem;
    left: 0.5rem;
}

#a11y__contrast--toggle,
#a11y__font--increase,
#a11y__font--decrease {
    width: 120px;
    text-align: center;
    margin: 12px 0 0 0;
    padding: 8px 12px;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

#a11y__contrast--toggle:active,
#a11y__contrast--toggle:focus,
#a11y__font--increase:active,
#a11y__font--increase:focus,
#a11y__font--decrease:active,
#a11y__font--decrease:focus {
    color: #fff;
    background: #000;
    border: 1px dashed #fff;
    box-shadow: 0px 0px 5px #fff;
}

#a11y__font--increase,
#a11y__font--decrease {
    width: 30px;
    left: 140px;
}

#a11y__font--decrease {
    width: 30px;
    left: 180px;
}

@media (min-width: 768px) {
    #a11y {
        top: 0;
    }

}