.dialog {
    width: calc(95vw - 2rem);
    height: calc(95vh - 2rem);
    z-index: 20;
    border: 20px solid #000;
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    box-shadow: 0 0 75px #000;
    background: #000;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialog img {
    width: 100%;
    height: auto;
}

.dialog p {
    position: absolute;
    transform: translateY(-100%);
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
}

#close {
    width: 2rem;
    height: 2rem;
    background: #000;
    box-shadow: 0 0 3px #000;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    cursor: pointer;
}